<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Eliminar</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body >
    <div class="container mt-5">
        <h2 class="text-center">Eliminar cita </h2>
        <p>¿Estás seguro de que deseas eliminar esta cita?</p>
        <button class="btn btn-primary">Si</button>
        <button class="btn btn-danger">No</button>
      </div>
</body>
</html>